<!DOCTYPE HTML>
<html lang="en" ng-app="aphasia">
<head>
  <title>Aphasia</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/bootstrap-combined.min.css" />
  <link rel="stylesheet" href="./css/main.css" />
  <script type="text/javascript" src="./js/angular-1.0.1.min.js"></script>
  <script type="text/javascript" src="./js/angular-resource-1.0.1.min.js"></script>
  <script type="text/javascript" src="./js/aphasia.js"></script>
</head>
<body>
  <div id="container" ng-controller="AphasiaCtrl">
    <div class="hero-unit">
      <p>
        <input type="text" class="repository-input" id="repository"
          placeholder="Start typing a GitHub repository name"
          ng-model="repositoryName" ng-change="updateRepositoriesList()"
          autofocus />
      </p>
    </div>

    <div class="main-panel search-results">
      <ul class="repositories-list">
        <li ng-show="noRepositoryFound">No repository called <em>{{repositoryName}}</em> was found.</li>
        <li ng-repeat="repository in repositories">
          <a href="#{{repository.full_name}}" ng-click="showRepositoryInfo(repository.full_name)">{{repository.full_name}}</a></li>
      </ul>
    </div>

    <div class="main-panel repository-info">
      <header>
      <h2>Dinduks/furry-octo-ninja</h2>
      <a href="#" ng-click="showSearchResults()" class="return-repositories-list"><span class="icon-circle-arrow-left"></span>return to the repos' list</a>
      </header>
      <div class="contributors">
        <h3>Contributors</h3>
        <ul ng-repeat="(name, contributor) in contributors">
          <li>
            <a href="{{contributor.url}}" _target="blank"><span class="committer-name">{{name}}</span></a>
            <span class="committer-score">
              ({{contributor.contributionsCounter}}
              <ng-pluralize count="contributor.contributionsCounter" when="{'one': 'commit', 'other': 'commits'}"></ng-pluralize>
              out of the last {{totalCommits}})
            </span>
          </li>
        </ul>
      </div> <!-- contributors end -->

      <div class="commits-timeline">
        <h3>Commits timeline</h3>
        <div class="timeline-container">
          <div class="timeline">
            &nbsp;
            <div class="timeline-commit timeline-commit-1"><a href="#"></a></div>
            <div class="timeline-commit timeline-commit-2"><a href="#"></a></div>
            <div class="timeline-commit timeline-commit-3"><a href="#"></a></div>
          </div>
        </div>

        <div class="contributions-info">
        </div>
      </div> <!-- commits-timeline end -->
    </div>

  </div> <!-- container end -->

  <script type="text/javascript" src="./js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="./js/bootstrap-tooltip.js"></script>
  <script type="text/javascript" src="./js/bootstrap-popover.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
